* {
  margin: 0px;
}
body {
  background-color: #f5f6fa;
}

.App {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin: 20px;
}
.app__header {
  display: flex;
  justify-content: space-between;
  margin: 0px 245px;
  /* align-items: center; */
  margin-bottom: 20px;
}
.app__header h1 {
  margin: 0px 10px;
  color: red;
}
.app__stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app__right {
  display: flex;
  flex-direction: column;
}
.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* making the cards responsive using the media querries */
@media (max-width: 990px) {
  .App {
    flex-direction: column;
  }
}
.app__graph {
  flex-grow: 1;
}
